        </div>  <!-- /.container -->
        <div class="footer navbar-fixed-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <p class="text-center">&copy; 2017 Let&#39;s Camp | Created by Darrell Pawson</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <ul class="buttons text-center">
                            <li><a href="https://twitter.com/dpawson905" target="_blank"><i class="fa fa-twitter"></i>&nbsp;| </a></li>
                            <li><a href="https://facebook.com/darrell.pawson" target="_blank">&nbsp;<i class="fa fa-facebook"></i>&nbsp;| </a></li>
                            <li><a href="https://www.linkedin.com/in/darrell-pawson-297700125" target="_blank">&nbsp;<i class="fa fa-linkedin"></i>&nbsp;| </a></li>
                			<li><a href="https://github.com/dpawson905" target="_blank">&nbsp;<i class="fa fa-github"></i> </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
         <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	    <script src="https://use.fontawesome.com/aca25d40ae.js"></script>
	    <!--<script type="text/javascript" src="https://maps.google.com/map..."></script>-->
        <!--<script type="text/javascript" src="/"></script>-->
        
        <script>
            $("#checkingAddress").click(checkGeocode);

            function checkGeocode(){
                var addr = document.getElementById("location");
                // Get geocoder instance
                var geocoder = new google.maps.Geocoder();

                // Geocode the address
                geocoder.geocode({'address': addr.value}, function(results, status){
                if (status === google.maps.GeocoderStatus.OK && results.length > 0) {
                    alert('looks good')
                    // set it to the correct, formatted address if it's valid
                    addr.value = results[0].formatted_address;;

                    // show an error if it's not
                }else alert("Invalid address");
            });
        };
        </script>
    </body>
</html>