.thumbnail img {
    width: 100%;
    border-radius: 3px;
}

.thumbnail {
    padding: 0;
}

#delete-form {
    display: inline;
}

.delete-comment {
    display: inline;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

.form-size {
    width: 33%;
    margin: 30px auto;
}