.thumbnail img {
    width: 100%;
    border-radius: 3px;
}

.thumbnail {
    padding: 0;
}

#delete-form {
    display: inline;
}

.delete-comment {
    display: inline;
}

/* Footer */
.footer {
    background-color: #f8f8f8;
    height: 60px;
}

.footer p {
    line-height: 60px;
}

.footer ul {
    line-height: 60px;
    display: block;
}

.footer li {
    display: inline-block;
}

.footer a {
    text-decoration: none;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

.form-size {
    width: 33%;
    margin: 30px auto;
}